<section class="field">
  <label>{{this.label}}</label>
  <ComboBox
    @content={{this.availableLanguages}}
    @value={{this.selectedLanguage.label}}
    @valueProperty="value"
    @nameProperty="label"
    @onChange={{this.onChange}}
  />
</section>